.content {
  display: flex;
  justify-content: space-around;
}

.posts_list {
  width: 100%;
  max-width: 1024px;
  padding: 5px 20px;
  box-shadow: 0 0 20px rgb(196, 196, 196);
  border-radius: 20px;
}

.post {
  font-family: Arial, Helvetica, sans-serif;
}

.line {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 80%;
  box-shadow: 0 2px 3px black;
}

.comments_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
  box-shadow: 0 0 20px rgb(196, 196, 196);
  border-radius: 20px;
}

.comment {
  font-family: Arial, Helvetica, sans-serif;
}
